## Exercises

>1. Examine the dataset `co2`. Which of the following is true:

>    A. `co2` is tidy data: it has one year for each row.

>    B. `co2` is not tidy: we need at least one column with a character vector.

>    C. `co2` is not tidy:  it is a matrix not a data frame.

>    __D__. `co2` is not tidy: to be tidy we would have to wrangle it to have three columns: year, month and value; then each co2 observation has a row.

Definition of `tidy data` from this chapter is as follows: *each row represents one observation and the columns represent the different variables available for each of these observations*

According to this defintion the time-series object does not define a tidy data set, because it is not defined wich observation belongs to which point in time. Therefore, answer **D** is the most likely one. The calculations below show that the object `Time-Series` contains 468 data points for each month for 39 years between 1959 and 1998, which are 468 points total.

In [28]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 2.2.1     ✔ purrr   0.2.5
✔ tibble  1.4.2     ✔ dplyr   0.7.6
✔ tidyr   0.8.1     ✔ stringr 1.3.1
✔ readr   1.1.1     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [34]:
library(dslabs)

In [35]:
data("co2")

In [36]:
str(co2)

 Time-Series [1:468] from 1959 to 1998: 315 316 316 318 318 ...

In [37]:
length(co2)

[1] 468

In [58]:
(1998-1959)*12

[1] 468

In [1]:
months <- rep(1:12,39)

In [41]:
years <- rep(1960:1998,12)

In [45]:
years <- sort(years)

In [47]:
as.tibble(cbind(years,months,co2)) %>% arrange(years,months)

    years months co2
1   1960   1     315.42
2   1960   2     316.31
3   1960   3     316.50
4   1960   4     317.56
5   1960   5     318.13
6   1960   6     318.00
7   1960   7     316.39
8   1960   8     314.65
9   1960   9     313.68
10  1960  10     313.18
11  1960  11     314.66
12  1960  12     315.43
13  1961   1     316.27
14  1961   2     316.81
15  1961   3     317.42
16  1961   4     318.87
17  1961   5     319.87
18  1961   6     319.43
19  1961   7     318.01
20  1961   8     315.74
21  1961   9     314.00
22  1961  10     313.68
23  1961  11     314.84
24  1961  12     316.03
25  1962   1     316.73
26  1962   2     317.54
27  1962   3     318.38
28  1962   4     319.31
29  1962   5     320.42
30  1962   6     319.61
⋮   ⋮     ⋮      ⋮
439 1996   7     361.94
440 1996   8     359.50
441 1996   9     358.11
442 1996  10     357.80
443 1996  11     359.61
444 1996  12     360.74
445 1997   1     362.09
446 1997   2     363.29
447 1997   3     364.06
448 1997   4     364.76
449 1997   5     365.45
450 1997   6     365.01
451 1997   7     363.70
452 1997   8     361.54
453 1997   9     359.51
454 1997  10     359.65
455 1997  11     360.80
456 1997  12     362.38
457 1998   1     363.23
458 1998   2     364.06
459 1998   3     364.61
460 1998   4     366.40
461 1998   5     366.84
462 1998   6     365.68
463 1998   7     364.52
464 1998   8     362.57
465 1998   9     360.24
466 1998  10     360.83
467 1998  11     362.49
468 1998  12     364.34

>2. Examine the dataset  `ChickWeight`. Which of the following is true:

>    A.  `ChickWeight` is not tidy: each chick has more than one row. 

>    B.  `ChickWeight` is tidy: each observation, here a weight, is represented by one row. The chick from which this measurement came from is one the variables.

>    C.  `ChickWeight` is not a tidy: we are missing the year column.

>    D.  `ChickWeight` is tidy: it is stored in a data frame.

In [25]:
data(ChickWeight)

In [26]:
ChickWeight

    weight Time Chick Diet
1    42     0   1     1
2    51     2   1     1
3    59     4   1     1
4    64     6   1     1
5    76     8   1     1
6    93    10   1     1
7   106    12   1     1
8   125    14   1     1
9   149    16   1     1
10  171    18   1     1
11  199    20   1     1
12  205    21   1     1
13   40     0   2     1
14   49     2   2     1
15   58     4   2     1
16   72     6   2     1
17   84     8   2     1
18  103    10   2     1
19  122    12   2     1
20  138    14   2     1
21  162    16   2     1
22  187    18   2     1
23  209    20   2     1
24  215    21   2     1
25   43     0   3     1
26   39     2   3     1
27   55     4   3     1
28   67     6   3     1
29   84     8   3     1
30   99    10   3     1
⋮   ⋮      ⋮    ⋮     ⋮
549 154    12   48    4
550 170    14   48    4
551 222    16   48    4
552 261    18   48    4
553 303    20   48    4
554 322    21   48    4
555  40     0   49    4
556  53     2   49    4
557  64     4   49    4
558  85     6   49    4
559 108     8   49    4
560 128    10   49    4
561 152    12   49    4
562 166    14   49    4
563 184    16   49    4
564 203    18   49    4
565 233    20   49    4
566 237    21   49    4
567  41     0   50    4
568  54     2   50    4
569  67     4   50    4
570  84     6   50    4
571 105     8   50    4
572 122    10   50    4
573 155    12   50    4
574 175    14   50    4
575 205    16   50    4
576 234    18   50    4
577 264    20   50    4
578 264    21   50    4

In [23]:
str(ChickWeight)

Classes ‘nfnGroupedData’, ‘nfGroupedData’, ‘groupedData’ and 'data.frame':	578 obs. of  4 variables:
 $ weight: num  42 51 59 64 76 93 106 125 149 171 ...
 $ Time  : num  0 2 4 6 8 10 12 14 16 18 ...
 $ Chick : Ord.factor w/ 50 levels "18"<"16"<"15"<..: 15 15 15 15 15 15 15 15 15 15 ...
 $ Diet  : Factor w/ 4 levels "1","2","3","4": 1 1 1 1 1 1 1 1 1 1 ...
 - attr(*, "formula")=Class 'formula'  language weight ~ Time | Chick
  .. ..- attr(*, ".Environment")=<environment: R_EmptyEnv>
 - attr(*, "outer")=Class 'formula'  language ~Diet
  .. ..- attr(*, ".Environment")=<environment: R_EmptyEnv>
 - attr(*, "labels")=List of 2
  ..$ x: chr "Time"
  ..$ y: chr "Body weight"
 - attr(*, "units")=List of 2
  ..$ x: chr "(days)"
  ..$ y: chr "(gm)"

In [24]:
class(ChickWeight)

[1] "nfnGroupedData" "nfGroupedData"  "groupedData"    "data.frame"

>3. Examine the dataset `BOD`. Which of the following is true:

>    A. `BOD` is not tidy: it only has six rows.

>    B. `BOD` is not tidy: the first column is just an index.

>    C. `BOD` is tidy: each row is an observation with two values, time and demand.

>    D. `BOD` is tidy: all small datasets are tidy by definition.

>4. Which of the following datasets is tidy (you can pick more than one):

>    A. `BJsales`

>    B. `EuStockMarkets`

>    C. `DNase`

>    D. `Formaldehyde`

>    E. `Orange`

>    F. `UCBAdmissions`