## Exercises ch 37 combining tables

>1. Install and load the __Lahman__ library. This database includes data related to Baseball teams. It includes summary statistics about how the players performed on offense and defense for several years. It also includes personal information about the players.
>
>    The `Batting` data frame contains the offensive statistics for all players for many years. You can see, for example, the top 10 hitters by running this code:
>    
>    ```r
>    library(Lahman)
>    
>    top <- Batting %>% 
>      filter(yearID == 2016) %>%
>      arrange(desc(HR)) %>%
>      slice(1:10)
>    
>    top %>% tbl_df
>    ```
>
>    But who are these players? We see an ID, but not the names. The player names are in this table>
>
>    ```r
>    Master %>% as_tibble()
>    ```
>
>    We can see column names `nameFirst` and `nameLast`. Use the `left_join` function to create a table of the top home run hitters. The table should have `playerID`, first name, last name, and number of home runs (HR).  Rewrite the object `top` with this new table.

In [8]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 2.2.1     ✔ purrr   0.2.5
✔ tibble  1.4.2     ✔ dplyr   0.7.6
✔ tidyr   0.8.1     ✔ stringr 1.3.1
✔ readr   1.1.1     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [12]:
install.packages("Lahman")

The downloaded binary packages are in
	/var/folders/h7/tj19_bj13qz_k451c_tqqfd00000gn/T//Rtmp9L6YXJ/downloaded_packages

In [13]:
library(Lahman)

In [18]:
str(Batting)

'data.frame':	102816 obs. of  22 variables:
 $ playerID: chr  "abercda01" "addybo01" "allisar01" "allisdo01" ...
 $ yearID  : int  1871 1871 1871 1871 1871 1871 1871 1871 1871 1871 ...
 $ stint   : int  1 1 1 1 1 1 1 1 1 1 ...
 $ teamID  : Factor w/ 149 levels "ALT","ANA","ARI",..: 136 111 39 142 111 56 111 24 56 24 ...
 $ lgID    : Factor w/ 7 levels "AA","AL","FL",..: 4 4 4 4 4 4 4 4 4 4 ...
 $ G       : int  1 25 29 27 25 12 1 31 1 18 ...
 $ AB      : int  4 118 137 133 120 49 4 157 5 86 ...
 $ R       : int  0 30 28 28 29 9 0 66 1 13 ...
 $ H       : int  0 32 40 44 39 11 1 63 1 13 ...
 $ X2B     : int  0 6 4 10 11 2 0 10 1 2 ...
 $ X3B     : int  0 0 5 2 3 1 0 9 0 1 ...
 $ HR      : int  0 0 0 2 0 0 0 0 0 0 ...
 $ RBI     : int  0 13 19 27 16 5 2 34 1 11 ...
 $ SB      : int  0 8 3 1 6 0 0 11 0 1 ...
 $ CS      : int  0 1 1 1 2 1 0 6 0 0 ...
 $ BB      : int  0 4 2 0 2 0 1 13 0 0 ...
 $ SO      : int  0 0 5 2 1 1 0 1 0 0 ...
 $ IBB     : int  NA NA NA NA NA NA NA NA NA NA ...
 $ HBP     : int  NA NA NA NA NA NA NA NA NA NA ...
 $ SH      : int  NA NA NA NA NA NA NA NA NA NA ...
 $ SF      : int  NA NA NA NA NA NA NA NA NA NA ...
 $ GIDP    : int  NA NA NA NA NA NA NA NA NA NA ...

In [25]:
top <- Batting %>% filter(yearID == 2016) %>% arrange(desc(HR)) %>% slice(1:10)

In [29]:
top %>% as_tibble()

   playerID  yearID stint teamID lgID G   AB  R   H   X2B ⋯ RBI SB CS BB SO
1  trumbma01 2016   1     BAL    AL   159 613  94 157 27  ⋯ 108  2 0  51 170
2  cruzne02  2016   1     SEA    AL   155 589  96 169 27  ⋯ 105  2 0  62 159
3  daviskh01 2016   1     OAK    AL   150 555  85 137 24  ⋯ 102  1 2  42 166
4  doziebr01 2016   1     MIN    AL   155 615 104 165 35  ⋯  99 18 2  61 138
5  encared01 2016   1     TOR    AL   160 601  99 158 34  ⋯ 127  2 0  87 138
6  arenano01 2016   1     COL    NL   160 618 116 182 35  ⋯ 133  2 3  68 103
7  cartech02 2016   1     MIL    NL   160 549  84 122 27  ⋯  94  3 1  76 206
8  frazito01 2016   1     CHA    AL   158 590  89 133 21  ⋯  98 15 5  64 163
9  bryankr01 2016   1     CHN    NL   155 603 121 176 35  ⋯ 102  8 5  75 154
10 canoro01  2016   1     SEA    AL   161 655 107 195 33  ⋯ 103  0 1  47 100
   IBB HBP SH SF GIDP
1   1   3  0   0 14
2   5   9  0   7 15
3   0   8  0   5 19
4   6   8  2   5 12
5   3   5  0   8 22
6  10   2  0   8 17
7   1   9  0  10 18
8   1   4  1   7 11
9   5  18  0   3  3
10  8   8  0   5 18

In [32]:
str(Master)

'data.frame':	19105 obs. of  26 variables:
 $ playerID    : chr  "aardsda01" "aaronha01" "aaronto01" "aasedo01" ...
 $ birthYear   : int  1981 1934 1939 1954 1972 1985 1850 1877 1869 1866 ...
 $ birthMonth  : int  12 2 8 9 8 12 11 4 11 10 ...
 $ birthDay    : int  27 5 5 8 25 17 4 15 11 14 ...
 $ birthCountry: chr  "USA" "USA" "USA" "USA" ...
 $ birthState  : chr  "CO" "AL" "AL" "CA" ...
 $ birthCity   : chr  "Denver" "Mobile" "Mobile" "Orange" ...
 $ deathYear   : int  NA NA 1984 NA NA NA 1905 1957 1962 1926 ...
 $ deathMonth  : int  NA NA 8 NA NA NA 5 1 6 4 ...
 $ deathDay    : int  NA NA 16 NA NA NA 17 6 11 27 ...
 $ deathCountry: chr  NA NA "USA" NA ...
 $ deathState  : chr  NA NA "GA" NA ...
 $ deathCity   : chr  NA NA "Atlanta" NA ...
 $ nameFirst   : chr  "David" "Hank" "Tommie" "Don" ...
 $ nameLast    : chr  "Aardsma" "Aaron" "Aaron" "Aase" ...
 $ nameGiven   : chr  "David Allan" "Henry Louis" "Tommie Lee" "Donald William" ...
 $ weight      : int  215 180 190 190 184 220 192 170 175 169 ...
 $ height      : int  75 72 75 75 73 73 72 71 71 68 ...
 $ bats        : Factor w/ 3 levels "B","L","R": 3 3 3 3 2 2 3 3 3 2 ...
 $ throws      : Factor w/ 3 levels "L","R","S": 2 2 2 2 1 1 2 2 2 1 ...
 $ debut       : chr  "2004-04-06" "1954-04-13" "1962-04-10" "1977-07-26" ...
 $ finalGame   : chr  "2015-08-23" "1976-10-03" "1971-09-26" "1990-10-03" ...
 $ retroID     : chr  "aardd001" "aaroh101" "aarot101" "aased001" ...
 $ bbrefID     : chr  "aardsda01" "aaronha01" "aaronto01" "aasedo01" ...
 $ deathDate   : Date, format: NA NA ...
 $ birthDate   : Date, format: "1981-12-27" "1934-02-05" ...

In [31]:
Master %>% as.tibble()

      playerID  birthYear birthMonth birthDay birthCountry birthState
1     aardsda01 1981      12         27       USA          CO
2     aaronha01 1934       2          5       USA          AL
3     aaronto01 1939       8          5       USA          AL
4     aasedo01  1954       9          8       USA          CA
5     abadan01  1972       8         25       USA          FL
6     abadfe01  1985      12         17       D.R.         La Romana
7     abadijo01 1850      11          4       USA          PA
8     abbated01 1877       4         15       USA          PA
9     abbeybe01 1869      11         11       USA          VT
10    abbeych01 1866      10         14       USA          NE
11    abbotda01 1862       3         16       USA          OH
12    abbotfr01 1874      10         22       USA          OH
13    abbotgl01 1951       2         16       USA          AR
14    abbotje01 1972       8         17       USA          GA
15    abbotji01 1967       9         19       USA          MI
16    abbotku01 1969       6          2       USA          OH
17    abbotky01 1968       2         18       USA          MA
18    abbotod01 1888       9          5       USA          PA
19    abbotpa01 1967       9         15       USA          CA
20    aberal01  1927       7         31       USA          OH
21    abercda01 1850       1          2       USA          OK
22    abercre01 1980       7         15       USA          GA
23    abernbi01 1929       1         30       USA          CA
24    abernbr01 1977       9         23       USA          GA
25    abernte01 1921      10         30       USA          NC
26    abernte02 1933       3          6       USA          NC
27    abernwo01 1915       2          1       USA          NC
28    aberscl01 1921       8         28       USA          IL
29    ablesha01 1883      10          4       USA          TX
30    abnersh01 1966       6         17       USA          OH
⋮     ⋮         ⋮         ⋮          ⋮        ⋮            ⋮
19076 zimmejo02 1986       5         23       USA          WI
19077 zimmero01 1913       9         13       USA          PA
19078 zimmery01 1984       9         28       USA          NC
19079 zinkch01  1979       8         26       USA          CA
19080 zinkwa01  1898      11         21       USA          MA
19081 zinnfr01  1865      12         21       USA          PA
19082 zinngu01  1887       2         13       USA          WV
19083 zinnji01  1895       1         21       USA          AR
19084 zinsebi01 1918       1          6       USA          NY
19085 zinteal01 1968       5         19       USA          TX
19086 zipfebu01 1938      11         18       USA          IL
19087 ziskri01  1949       2          6       USA          NY
19088 zitoba01  1978       5         13       USA          NV
19089 zitzmbi01 1895      11         19       USA          NY
19090 zmiched01 1884      10          1       USA          OH
19091 zobribe01 1981       5         26       USA          IL
19092 zoccope01 1977       2          6       USA          NY
19093 zoldasa01 1918      12          8       USA          NY
19094 zoskyed01 1968       2         10       USA          CA
19095 zuberbi01 1913       3         26       USA          IA
19096 zuberjo01 1969      12         10       USA          CA
19097 zuletju01 1975       3         28       Panama       Panama
19098 zumayjo01 1984      11          9       USA          CA
19099 zuninmi01 1991       3         25       USA          FL
19100 zupcibo01 1966       8         18       USA          PA
19101 zupofr01  1939       8         29       USA          CA
19102 zuvelpa01 1958      10         31       USA          CA
19103 zuverge01 1924       8         20       USA          MI
19104 zwilldu01 1888      11          2       USA          MO
19105 zychto01  1990       8          7       USA          IL
      birthCity        deathYear deathMonth deathDay ⋯ weight height bats
1     Denver             NA      NA         NA       ⋯ 215    75     R
2     Mobile             NA      NA         NA       ⋯ 180    72     R
3     Mobile           1984       8         16       ⋯ 190    75     R
4     Orange             NA      NA         NA       ⋯ 190    75     R
5     Palm Beach         NA      NA         NA       ⋯ 184    73     L
6     La Romana          NA      NA         NA       ⋯ 220    73     L
7     Philadelphia     1905       5         17       ⋯ 192    72     R
8     Latrobe          1957       1          6       ⋯ 170    71     R
9     Essex            1962       6         11       ⋯ 175    71     R
10    Falls City       1926       4         27       ⋯ 169    68     L
11    Portage          1930       2         13       ⋯ 190    71     R
12    Versailles       1935       6         11       ⋯ 180    70     R
13    Little Rock        NA      NA         NA       ⋯ 200    78     R
14    Atlanta            NA      NA         NA       ⋯ 190    74     R
15    Flint              NA      NA         NA       ⋯ 200    75     L
16    Zanesville         NA      NA         NA       ⋯ 180    71     R
17    Newburyport        NA      NA         NA       ⋯ 200    76     L
18    New Eagle        1933       4         13       ⋯ 180    74     R
19    Van Nuys           NA      NA         NA       ⋯ 185    75     R
20    Cleveland        1993       5         20       ⋯ 195    74     L
21    Fort Towson      1939      11         11       ⋯  NA    NA     NA
22    Columbus           NA      NA         NA       ⋯ 215    75     R
23    Torrance         2006       2         19       ⋯ 190    70     R
24    Atlanta            NA      NA         NA       ⋯ 185    73     R
25    Bynum            2001      11         16       ⋯ 210    74     R
26    Stanley          2004      12         16       ⋯ 215    76     R
27    Forest City      1994      12          5       ⋯ 170    72     L
28    Chicago          1973       6         23       ⋯ 200    72     R
29    Terrell          1951       2          8       ⋯ 200    74     R
30    Hamilton           NA      NA         NA       ⋯ 190    73     R
⋮     ⋮                ⋮         ⋮          ⋮        ⋱ ⋮      ⋮      ⋮
19076 Auburndale         NA      NA         NA       ⋯ 225    74     R
19077 Pine Grove       1991      11         22       ⋯ 187    74     L
19078 Washington         NA      NA         NA       ⋯ 225    75     R
19079 Carmichael         NA      NA         NA       ⋯ 190    73     R
19080 Pittsfield       1964       6         12       ⋯ 165    72     R
19081 Phoenixville     1936       5         12       ⋯ 150    68     NA
19082 Holbrook         1949      10          6       ⋯ 170    70     L
19083 Benton           1991       2         26       ⋯ 195    72     L
19084 Astoria          1993       2         16       ⋯ 185    73     R
19085 El Paso            NA      NA         NA       ⋯ 200    74     B
19086 Belleville         NA      NA         NA       ⋯ 200    75     L
19087 Brooklyn           NA      NA         NA       ⋯ 200    73     R
19088 Las Vegas          NA      NA         NA       ⋯ 205    74     L
19089 Long Island City 1985       5         29       ⋯ 175    70     R
19090 Cleveland        1950       8         20       ⋯ 180    72     L
19091 Eureka             NA      NA         NA       ⋯ 210    75     B
19092 Bronx              NA      NA         NA       ⋯ 200    74     L
19093 Brooklyn         1966       8         25       ⋯ 185    71     L
19094 Whittier           NA      NA         NA       ⋯ 175    72     R
19095 Middle Amana     1982      11          2       ⋯ 195    74     R
19096 Encino             NA      NA         NA       ⋯ 190    73     L
19097 Panama             NA      NA         NA       ⋯ 230    78     R
19098 Chula Vista        NA      NA         NA       ⋯ 215    75     R
19099 Cape Coral         NA      NA         NA       ⋯ 220    74     R
19100 Pittsburgh         NA      NA         NA       ⋯ 220    76     R
19101 San Francisco    2005       3         25       ⋯ 182    71     L
19102 San Mateo          NA      NA         NA       ⋯ 173    72     R
19103 Holland          2014       9          8       ⋯ 195    76     R
19104 St. Louis        1978       3         27       ⋯ 160    66     L
19105 Monee              NA      NA         NA       ⋯ 190    75     R
      throws debut      finalGame  retroID  bbrefID   deathDate  birthDate
1     R      2004-04-06 2015-08-23 aardd001 aardsda01 <NA>       1981-12-27
2     R      1954-04-13 1976-10-03 aaroh101 aaronha01 <NA>       1934-02-05
3     R      1962-04-10 1971-09-26 aarot101 aaronto01 1984-08-16 1939-08-05
4     R      1977-07-26 1990-10-03 aased001 aasedo01  <NA>       1954-09-08
5     L      2001-09-10 2006-04-13 abada001 abadan01  <NA>       1972-08-25
6     L      2010-07-28 2016-09-25 abadf001 abadfe01  <NA>       1985-12-17
7     R      1875-04-26 1875-06-10 abadj101 abadijo01 1905-05-17 1850-11-04
8     R      1897-09-04 1910-09-15 abbae101 abbated01 1957-01-06 1877-04-15
9     R      1892-06-14 1896-09-23 abbeb101 abbeybe01 1962-06-11 1869-11-11
10    L      1893-08-16 1897-08-19 abbec101 abbeych01 1926-04-27 1866-10-14
11    R      1890-04-19 1890-05-23 abbod101 abbotda01 1930-02-13 1862-03-16
12    R      1903-04-25 1905-09-20 abbof101 abbotfr01 1935-06-11 1874-10-22
13    R      1973-07-29 1984-08-08 abbog001 abbotgl01 <NA>       1951-02-16
14    L      1997-06-10 2001-09-29 abboj002 abbotje01 <NA>       1972-08-17
15    L      1989-04-08 1999-07-21 abboj001 abbotji01 <NA>       1967-09-19
16    R      1993-09-07 2001-04-13 abbok002 abbotku01 <NA>       1969-06-02
17    L      1991-09-10 1996-08-24 abbok001 abbotky01 <NA>       1968-02-18
18    R      1910-09-10 1910-10-15 abboo101 abbotod01 1933-04-13 1888-09-05
19    R      1990-08-21 2004-08-07 abbop001 abbotpa01 <NA>       1967-09-15
20    L      1950-09-15 1957-09-11 abera101 aberal01  1993-05-20 1927-07-31
21    NA     1871-10-21 1871-10-21 aberd101 abercda01 1939-11-11 1850-01-02
22    R      2006-04-04 2008-09-28 aberr001 abercre01 <NA>       1980-07-15
23    R      1952-09-27 1952-09-27 aberb101 abernbi01 2006-02-19 1929-01-30
24    R      2001-06-25 2005-09-29 aberb001 abernbr01 <NA>       1977-09-23
25    L      1942-09-19 1944-04-29 abert102 abernte01 2001-11-16 1921-10-30
26    R      1955-04-13 1972-09-30 abert101 abernte02 2004-12-16 1933-03-06
27    L      1946-07-28 1947-04-17 aberw101 abernwo01 1994-12-05 1915-02-01
28    R      1947-07-18 1949-05-09 aberc101 aberscl01 1973-06-23 1921-08-28
29    L      1905-09-04 1911-05-05 ableh101 ablesha01 1951-02-08 1883-10-04
30    R      1987-09-08 1992-10-03 abnes001 abnersh01 <NA>       1966-06-17
⋮     ⋮      ⋮          ⋮          ⋮        ⋮         ⋮          ⋮
19076 R      2009-04-20 2016-10-01 zimmj003 zimmejo02 <NA>       1986-05-23
19077 L      1945-08-27 1945-09-30 zimmr101 zimmero01 1991-11-22 1913-09-13
19078 R      2005-09-01 2016-10-02 zimmr001 zimmery01 <NA>       1984-09-28
19079 R      2008-08-12 2008-08-12 zinkc001 zinkch01  <NA>       1979-08-26
19080 R      1921-07-06 1921-07-19 zinkw101 zinkwa01  1964-06-12 1898-11-21
19081 NA     1888-04-18 1888-05-03 zinnf101 zinnfr01  1936-05-12 1865-12-21
19082 R      1911-09-11 1915-09-16 zinng101 zinngu01  1949-10-06 1887-02-13
19083 R      1919-09-04 1929-08-25 zinnj101 zinnji01  1991-02-26 1895-01-21
19084 R      1944-08-19 1944-08-26 zinsb101 zinsebi01 1993-02-16 1918-01-06
19085 R      2002-06-18 2004-10-03 zinta001 zinteal01 <NA>       1968-05-19
19086 R      1961-07-26 1962-09-30 zipfb101 zipfebu01 <NA>       1938-11-18
19087 R      1971-09-08 1983-09-21 ziskr101 ziskri01  <NA>       1949-02-06
19088 L      2000-07-22 2015-09-30 zitob001 zitoba01  <NA>       1978-05-13
19089 R      1919-04-27 1929-09-25 zitzb101 zitzmbi01 1985-05-29 1895-11-19
19090 L      1910-07-23 1911-06-01 zmice101 zmiched01 1950-08-20 1884-10-01
19091 R      2006-08-01 2016-10-02 zobrb001 zobribe01 <NA>       1981-05-26
19092 R      2003-09-05 2003-09-28 zoccp001 zoccope01 <NA>       1977-02-06
19093 L      1944-05-13 1952-08-26 zolds101 zoldasa01 1966-08-25 1918-12-08
19094 R      1991-09-02 2000-10-01 zoske001 zoskyed01 <NA>       1968-02-10
19095 R      1936-09-16 1947-09-23 zubeb101 zuberbi01 1982-11-02 1913-03-26
19096 L      1996-04-19 1998-09-27 zubej001 zuberjo01 <NA>       1969-12-10
19097 R      2000-04-06 2001-06-25 zulej001 zuletju01 <NA>       1975-03-28
19098 R      2006-04-03 2010-06-28 zumaj001 zumayjo01 <NA>       1984-11-09
19099 R      2013-06-12 2016-10-02 zunim001 zuninmi01 <NA>       1991-03-25
19100 R      1991-09-07 1994-08-04 zupcb001 zupcibo01 <NA>       1966-08-18
19101 R      1957-07-01 1961-05-09 zupof101 zupofr01  2005-03-25 1939-08-29
19102 R      1982-09-04 1991-05-02 zuvep001 zuvelpa01 <NA>       1958-10-31
19103 R      1951-04-21 1959-06-15 zuveg101 zuverge01 2014-09-08 1924-08-20
19104 L      1910-08-14 1916-07-12 zwild101 zwilldu01 1978-03-27 1888-11-02
19105 R      2015-09-04 2016-08-24 zycht001 zychto01  <NA>       1990-08-07

>2. Now use the `Salaries` data frame to add each player's salary to the table you created in exercise. Note that salaries are different every year so make sure to filter for the year 2016, then use `right_join`. This time show first name, last name, team, HR and salary.

>3. In a previous exercise, we created a tidy version of the `co2` dataset:
>
>
>    ```r
>    co2_wide <- data.frame(matrix(co2, ncol = 12, byrow = TRUE)) %>% 
>      setNames(1:12) %>%
>      mutate(year = 1959:1997) %>%
>      gather(month, co2, -year, convert = TRUE)
>    ```
>
>    We want to see if the monthly trend is changing so we are going to remove the year effects and the plot the data. We will first compute the year averages. Use the `group_by` and `summarize` to compute the average co2 for each year. Save in an object called `yearly_avg`.

>4. Now use the `left_join` function to add the yearly average to the `co2_wide` dataset. Then compute the residuals: observed co2 measure - yearly average.

>5. Make a plot of the seasonal trends by year but only after removing the year effect.